.place__title {
    font-weight: bold;
    color: #fff;
}
@media screen and (min-width: 320px) {
    .place__title {
        margin: 0 15px 0 15px;
        font-size: 32px;
        line-height: 35px;
        align-self: end;
    }
}
@media screen and (min-width: 768px) {
    .place__title {
        margin: 0;
        font-size: 42px;
        line-height: 46px;
        align-self: end;
    }
}
@media screen and (min-width: 1024px) {
    .place__title {
        margin: 0;
        font-size: 72px;
        line-height: 76px;
        align-self: end;
    }
}
@media screen and (min-width: 1280px) {
    .place__title {
        margin: 0;
        font-size: 72px;
        line-height: 76px;
        align-self: end;
    }
}