.header__lang-en {
    font-weight: normal;
    color:#FFFFFF;
}
@media screen and (min-width: 320px) {
    .header__lang-en {
        margin: auto 0 0 18px;
        font-size: 18px;
        line-height: 20px;
    }
}
@media screen and (min-width: 768px) {
    .header__lang-en {
        margin: auto 0 0 18px;
        font-size: 24px;
        line-height: 28px;
    }
}
@media screen and (min-width: 1024px) {
    .header__lang-en {
        margin: auto 0 0 18px;
        font-size: 24px;
        line-height: 28px;
    }
}
@media screen and (min-width: 1280px) {
    .header__lang-en {
        margin: auto 0 0 18px;
        font-size: 24px;
        line-height: 28px;
    }
}