@import url(../vendor/normalize.css);

@font-face {
    font-family: 'Inter';
    src: local('Inter')
        url(../../Inter/Inter-V.ttf);
}

.page {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter';
    text-rendering:optimizeLegibility;
    background-color: rgba(42, 44, 47, 1);
}

.header {
    display: flex;
    align-items: flex-end;
    max-width: 1184px;
    width: 100vw;
    max-height: 52px;
}
.ru {
    font-weight: normal;
    text-decoration-line: underline;
    color: #fff;
    text-align: end;
}
.en {
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    text-align: end;
}
@media (min-width: 1280px) {
    .header {
        max-width: 1184px;
        min-height: 52px;
        margin: 28px 48px;
    }
    .ru {
        margin: 0 18px 0 931px;
        padding: 0;
        line-height: 28px;
        font-size: 24px;
    }
    .en {
        margin: 0 48px 0 0;
        padding: 0;
        line-height: 28px;
        font-size: 24px;
    }
    .logo {
        width: 176px;
        height: 52px;
        align-self: center;
    }
}
@media (min-width: 1024px) {
    .header {
        max-width: 928px;
        min-height: 52px;
        margin: 28px 48px;
    }
    .ru {
        margin: 0 18px 0 935px;
        padding: 0;
        line-height: 28px;
        font-size: 24px;
    }
    .en {
        margin: 0 48px 0 0;
        padding: 0;
        line-height: 28px;
        font-size: 24px;
    }
    .logo {
        width: 176px;
        height: 52px;
    }
}
@media screen and (min-width: 768px) {
    .header {
        max-width: 750px;
        min-height: 52px;
        margin: 28px 24px;
    }
    .ru {
        margin: 0 18px 0 715px;
        padding: 0;
        line-height: 28px;
        font-size: 24px;
    }
    .en {
        margin: 0 24px 0 0;
        padding: 0;
        line-height: 28px;
        font-size: 24px;
    }
    .logo {
        width: 176px;
        height: 52px;
    }
}
@media screen and (min-width: 320px) {
    .header {
        max-width: 288px;
        max-height: 42px;
        margin: 16px;
    }
    .ru {
        margin: 0 18px 0 84px;
        padding: 0;
        line-height: 20px;
        font-size: 18px;
    }
    .en {
        margin: 0 16px 0 0;
        padding: 0;
        line-height: 20px;
        font-size: 18px;
    }
    .logo {
        width: 142px;
        height: 42px;
    }
    
}